<div id="main-header">
    <a routerLink="/home">
        <div class="logo-box">
            <img src="../../../assets/online-job-search-symbol.svg" alt="logo">
            <div class="website-name">
                JOBling
            </div>
        </div>
    </a>
    <div class="buttons">
        <div class="button">
            <button *ngIf="!loggedInUser" [routerLink]="'/login'" mat-raised-button class="submit">Login</button>
            <button *ngIf="loggedInUser" [routerLink]="'/login'" mat-raised-button class="submit" (click)="logout()">Logout</button>
        </div>
        <div class="button">
            <button *ngIf="!loggedInUser" [routerLink]="'/register'" mat-raised-button class="submit">Registration</button>
            <button *ngIf="loggedInUser" [routerLink]="'/singleadvertisement'" mat-raised-button class="submit">Create Advertisement</button>
        </div>
    </div>
</div>