<div id="main-header">
    <a routerLink="/">
        <div class="logo-box">
            <img src="../../../assets/online-job-search-symbol.svg" alt="logo">
            <div class="website-name">
                JOBling
            </div>
        </div>
    </a>
    <div class="buttons">
        <div *ngIf="!(loggedInUser)" class="button">
            <button [routerLink]="'/login'" mat-raised-button class="submit">Login</button>
        </div>
        <div *ngIf="loggedInUser" class="button">
            <button [routerLink]="'/home'" mat-raised-button class="submit" (click)="logout()">Logout</button>
        </div>
        <div class="button">
            <button [routerLink]="'/register'" mat-raised-button class="submit">Registration</button>
        </div>
    </div>
</div>