.form {
  margin: auto;
  min-width: 150px;
  max-width: 500px;
  width: 80%;
}

.full-width {
  width: 100%;
  border-radius: 5px;
}

.label-text {
  color: black;
}

.container {
  width: 600px;
  height: 40%;
  border: 2px black solid;
  border-radius: 4px;
  background-color: #d5d5d5;

  position: absolute;
  top: 25%;
  left: 30%;
}

.text {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
